.App {
  text-align: left;
  padding: 1em;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  display: inline-block;
}

.App-header {
  min-height: 75px;
}

.App-header span {
  align-self: center;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.active {
  background-color: #00A6A7;
  color: #FFFFFF;
}

.container {
  width: 100%;
}

.btnContainer {
  display: block;
}

.btnContainer span {
  margin: 0 2em;
}

.MuiGrid-root.MuiGrid-item.keycode {
  display: block;
  margin: 1em 0;
}

.case {
  padding: 16px;
  margin-left: 16px;
  margin-top: 16px;
}

.tab {
  height: 100%;
  position: relative;
}

.current h3 {
  background-color: transparent;
}

h3 {
  cursor: pointer;
}

.current {
  background-color: #f6f6f9;
}

div .meal,
.break,
.travel {
  background-color: rgb(183, 191, 170);
}

h3:hover {
  color: rgb(95, 103, 185);
}

button,
.backButton {
  background-color: #3E67BB;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin-right: 2px;
  color: #FFFFFF;
  font-size: 1em;
  width: auto;
}

.checkin button {
  font-size: 1em;
  margin: 16px auto;
}

.checkin div {
  margin: 16px 0;
}

.backButton {
  margin: 10px;
}

.mapContainer {
  padding: 10px;
}

.mapContainer button {
  margin: 10px auto;
}

.evtCase {
  padding: 5px;
}

.segment {
  display: block;
  position: relative;

  min-height: 15vh;
}

.evtCase p {
  max-width: fit-content;
  text-wrap: balance;
}

.registration .evtCase,
.customer-centricty .evtCase,
.mobile .evtCase,
.user-centred .evtCase,
.pegaworld .evtCase {
  border-bottom: 0;
}

.registration {
  background-color: #FFC837;
}

.customer-centricty {
  background-color: rgb(95, 232, 16);
  border-bottom: 0;
}

.mobile {
  background-color: #0FA4AC;
}

.user-centred {
  background-color: #ffa16f;
}

.pegaworld {
  background-color: #6A0DBB;
}